<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
    </head> 
    <body>
        <h2>User Register Page</h2>
        <form action="/" method="POST">
          Email:
            <input type="text" name="email" value="<%= (userinfo && userinfo.email) ? userinfo.email : '' %>"></td>
                    <%- error.email ? error.email : ''%> <br>

          Programming Language:
          <input type="checkbox" name="nodejs" value="nodejs"
				<%= (userinfo && userinfo.nodejs) ? 'checked' : '' %> > Nodejs
                    <%- error.nodejs ? error.nodejs : ''%> <br>
          <button type="submit">Register</button>
        </form>
    </body>
</html>